[Desktop Entry]
Name=cvm-ui-wallpapers
X-KDE-PluginInfo-Name=cvm-ui-wallpapers
X-KDE-PluginInfo-Author=JIΛFEI (jiafeitech)
X-KDE-PluginInfo-License=MIT
